name: Release
permissions:
  contents: write
on:
  release:
    types:
      - prereleased
      - released
jobs:
  build:
    name: Build And Upload
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.env.outputs.APP_VERSION }}
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Environment
        id: env
        run: |
          APP_VERSION=`cat gradle.properties | grep spectreVersion | cut -d'=' -f2 | tr -d ' '`
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_OUTPUT

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'pnpm'
          cache-dependency-path: spectre-frontend/pnpm-lock.yaml

      - name: Build Frontend
        working-directory: spectre-frontend
        env:
          VITE_APP_VERSION: ${{ steps.env.outputs.APP_VERSION }}
        run: pnpm i && pnpm run build

      - name: Build Backend
        run: >
          mkdir spectre-core/src/main/resources/static/  &&
          cp -r spectre-frontend/dist/* spectre-core/src/main/resources/static/ &&
          sh ./gradlew build -x test

      - name: Upload Spectre
        uses: actions/upload-artifact@v4
        with:
          name: 'spectre'
          path: spectre-core/build/libs/spectre-core-${{ steps.env.outputs.APP_VERSION }}.jar

      - name: Upload Release Assets
        run: |
          gh release upload "${GITHUB_REF_NAME}" spectre-core/build/libs/spectre-core-${{ steps.env.outputs.APP_VERSION }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  push_image:
    name: Push Image
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v4

      - name: Enable QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/download-artifact@v4
        with:
          name: spectre
          path: deploy/image

      - name: Rename Package
        run: mv deploy/image/spectre-core-${{ needs.build.outputs.app_version }}.jar deploy/image/spectre.jar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --file deploy/image/Dockerfile \
            -t vudsen/spectre:latest \
            -t vudsen/spectre:${{ needs.build.outputs.app_version }} \
            --push \
            deploy/image
